.hero {
  /* padding-left: 180px; */
}
.hero-style {
  background-image: url(../../../images/bg.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  margin-bottom: 70px;
}

.hero-style::after {
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  right: 0;
  background-color: rgb(0 0 0 / 80%);
}
.hero {
  z-index: 1;
}
.btn-style {
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  /* padding: 13px 35px 15px; */
  font-weight: 600;
  overflow: hidden;
  border-radius: 4px;
  background-color: #ff6754;
  text-transform: capitalize;
}

.btn-style:hover {
  background-color: #052046;
  color: white;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
